<img src="/images/logo.png" height=50 weight=100 />
<header class="site-header">
	<div class="wrapper">
		<nav>
			<div class="nav-block">
          <a href="/" title="Home">Home</a>
  				<a href="/users/" title="Users">Users</a>
			</div>
		</nav>
	</div>
</header>