<header class="site-header row">
  <div class="logo">
    <img src="/images/logo.png" />
  </div>
	<nav>
		<div class="nav-block">
      <ul>
        <li><a href="/" title="Home">Home</a></li>
				<li><a href="/users/" title="Users">Users</a></li>
      </ul>
		</div>
	</nav>
</header>