<header class="header-mobile">
  <div class="header-logo">
      <div class="header-logo-box">
          <img src="/images/logo.png">
      </div>
  </div>
  <div class="header-page">
      <a href="#" class="header-mobile-subnav-toggle">Test <i class="fa fa-angle-down"></i></a>
  </div>
  <div class="header-actions">
      <a href="#"><i class="fa fa-search"></i></a>
      <a href="#"><i class="fa fa-bars toggle-button"></i></a>
  </div>
</header>
<header class="header-mobile-subnav">
  <a href="/" title="Home">Home</a>
	<a href="/users/" title="Users">Users</a>
</header>