<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title_tag}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="/js/libs/jquery-1.11.1.min.js"></script>
    <script src="/js/libs/jquery-ui.min.js"></script>
</head>
<body class="main">

{{> _header}}

<main>
  {{{yield}}}
</main>
{{> _footer}}

<script src="/js/libs.js"></script>
<script src="/js/common.js"></script>
<script src="/js/landing.js"></script>
</body>
</html>