/*
========================
Modules-Forms
========================
*/

// iOS fix
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

form {
	font-size: inherit;
	font-family: inherit;

	.row {
		overflow: hidden;
	}

	.three-col:first-of-type, .four-col:first-of-type, .six-col:first-of-type {
		margin-left: 0;
	}

	.three-col:last-of-type, .four-col:last-of-type, .six-col:last-of-type {
		margin-right: 0;
	}

	textarea {
		text-align: left;
		font-size: .8em !important;
		max-width: 100%;
	}

	b {
		font-size: 1.1em;
		margin-left: 5px;
		color: lighten(#000, 32%);
		text-shadow: 1px 1px 1px whitesmoke;
		font-weight: bold;
		text-shadow: none;
	}

	textarea:focus {
	}

	input, textarea, .dataTables_filter input {
		display: block;
		border: 1px solid #d8d8d8;
		font-size: .8em;
		padding: 7px 10px;
		transition: all 0.1s ease-out;
		width: 100%;
		font-family: inherit;
		margin-bottom: .5em;
		border-radius: 3px;
		color: rgba(#000, 0.54);
	}

	select {
		font: normal normal normal 20px/normal 'Roboto' !important;
		font-size: .8em !important;
		border: 1px solid #000;

		option {
			font-family: 'Roboto';
		}
	}

	input[type="text"]:disabled {
		cursor: not-allowed;
		background: rgba(#ccc, 0.2);
	}

	input [type="text"] {
		    display: block;
		    width: 300px;
		    font-size: 14px;
		    font-weight: normal;
		    line-height: 17px;
		    margin-bottom: 5px;
		    background: white;
		    padding: 7px 10px;
	}

	input:focus, textarea:focus {
		outline: none;
		transition: all 0.1s ease-in;
		border: 1px solid $green;
	}

	input[type=radio] {
		transform: 0;
		border-radius: 0;
		box-shadow: 0;
		margin-left: 4px;
	}

	label, span {
		display: block;
		overflow: hidden;
		margin-bottom: .2em;
		color: rgba(#000, 0.54);
		font-size: .7em;
	}
}

select:focus {
	border: 0;
	outline: none;
}





/*
========================
Labels
========================
*/

label.error {
	width: 100% !important;
}

label.error {
	color: red;
	padding-top: 0;
	margin-bottom: 0;
}

input.error {
	border: 1px solid red;
}

.addendum-error {
	color: red;
	padding-top: 0;
	margin-bottom: 0;
	width: 40%;
}




/*
========================
Page Specific Form
========================
*/

.add-distributor-form,
.add-fund-form,
.add-user-form {

	input[type="submit"] {
		margin-top: 1em;
	}
}

// .add-user-form {
// 	input[type="text"],
// 	input[type="email"] {
// 		width: 40%;
// 	}
// }



/*
========================
Account
========================
*/

.account form {

	// input[type="text"],
	// input[type="email"],
	// input[type="tel"] {
	// 	width: 60%;

	// 	@include bp(s) {
	// 		width: 100%;
	// 	}
	// }
}

#result + .account-form-row {
	margin-top: 1em;
}

.add-fund-form {

	input[type="radio"] {
		margin-top: 8px;
		margin-right: 8px;
	}

}

.radio-field {
	margin-bottom: .5em;
	font-size: .8em;
}

.setup-form {

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="number"] {
		width: 55%;
		font-size: .9em;
	}

	.six-col input[type="text"] {
		width: 95%;
	}

	label {
		font-size: .8em;
	}
}



.checkbox-fieldset {
	clear: both;
	display: block;
	margin-bottom: .5em;
	overflow: hidden;
	position: relative;
	padding-left: 1px;

	.error {
		display: inline-block !important;
		width: auto !important;
	}

	input {
	-webkit-appearance: checkbox !important;
     -moz-appearance: checkbox !important;
     -ms-appearance: checkbox !important;
     -o-appearance: checkbox !important;
     appearance: checkbox !important;
     float: left;
     width: auto;
     vertical-align: middle;
     margin-bottom: 0;
     position: relative;
     top: 4px;
	}

	label {
		padding-top: 0;
		margin-left: 1em;
		display: block;
		float: left;
	}
}

input[type="radio"] {
	-webkit-appearance: radio !important;
     appearance: radio !important;
     float: left;
     width: auto;
     vertical-align: middle;
     margin-bottom: 0;
}

.radio {
	margin-top: .2em;
}

.radio input {
	line-height: 1.2em;
	display: inline-block;
	margin-bottom: 1em;
	width: auto;
	margin-bottom: 0;
	position: relative;
	top: 5px;
	margin-right: 10px;
}

.radio span {
	overflow: visible;
	padding-top: 0;
}

form select {
	margin-bottom: 1em;
	background: white;
	border: lighten(whitesmoke, 2%);
}





/*
========================
General Form Style
========================
*/

.uneditable-row {
	margin: 1em 0;
}

.ion-field {
	background: #fff url('/images/ion-logo-dark.png') no-repeat center right;
	background-size: 12%;
}







/*********************
Radio Group
*********************/

.radio-group {
	display: flex;
	align-items: center;
	margin-bottom: 8px;

	input {
		margin-right: 5px;
	}

	label {
		margin-bottom: 0 !important;
	}
}

.radio-group-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	margin-top: .5em;

	div {
		width: 33%;
	}

	label {
		font-size: .8em;
	}
}




.form-group {
	margin-bottom: .5em;
}





h3 + .form-group {
	margin-top: 1.5em;
}

.row + input[type="text"] {
	margin-top: .5em;
}

.checkbox-fieldset + input[type="text"] {
	margin-top: .5em;
}





.info-box {
	font-size: .7em;
	color: rgba(0, 0, 0, 0.54);
	margin: .4em 0;
}





/*
========================
All fields required
========================
*/

.all-fields-required {
	margin-bottom: 2em !important;
}





/*
========================
Hours form group
========================
*/





/*
========================
Table Checkbox
========================
*/

table input[type="checkbox"] {
	-webkit-appearance: checkbox !important;
     -moz-appearance: checkbox !important;
     -ms-appearance: checkbox !important;
     -o-appearance: checkbox !important;
     appearance: checkbox !important;
     float: left;
     width: auto;
     vertical-align: middle;
     margin-bottom: 0;
}





/*
========================
Edit Form
========================
*/

form.edit-form {
	width: 80% !important;
}





/*
========================
SBC Signup
========================
*/

.ion-category .radio-group,
.gratuity-default-option .radio-group,
.rewards-default-option .radio-group {
	width: 100% !important;

	label {
		padding-left: 5px;
	}

	input {
		width: 20px;
	}
}





/*
========================
Flex Description before input
========================
*/

.flex-description-input {
	display: flex;
	align-items: center;
	margin-top: .5em;

	p {
		width: 20%;
		margin-bottom: 0 !important;
		text-align: left !important;
		top: 0 !important;
		font-size: .9em;
		color: rgba(#000, 0.8) !important;
	}

	input {
		margin-bottom: 0;
	}
}





.table-checkboxes {
	display: flex;
	align-items: center;
	margin: 1em 0 1.5em 0;

	div {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	input {
		-webkit-appearance: checkbox !important;
	    -moz-appearance: checkbox !important;
	    -ms-appearance: checkbox !important;
	    -o-appearance: checkbox !important;
	    appearance: checkbox !important;
	    float: left;
	    width: auto;
	    vertical-align: middle;
	    margin-bottom: 0;
	    position: relative;
	    margin-right: 5px;
	    height: 14px;
	    width: 15px;
	}

	label {
		margin-bottom: 0;
		font-size: .8em;
	}
}





/*
========================
Tables generated by start end
========================
*/

.table-date-form {
	//width: 40% !important;
	//margin-bottom: 2em;
}
