/*
========================
Colors
========================
*/

$light-grey: #dddddd;
$blue: #2fbfda;
$red: #ff0000;
$green: #00b32c;
$portal_color: #2fbfda;
$dark_blue: #0e4d92;
$light_blue: #B5D3E7;
$white: #ffffff;